<div>
  <form id="new-post-form">
    <div>
    <label for="post-title">Title</label>
    <input type="text" name="post-title" id="post-title">
    </div>
    <div>
      <label for="post-content">Content</label>
      <input type="text" name="post-content" id="post-content">
    </div>
    <button type="submit" class="">Submit</button>
  </form>
</div>

<script>src="/js/createPost.js"</script>

