{{!-- this is the individual post user chooses to view --}}

{{!-- individual post info and comments --}}
{{>postInfo post}}

{{#if logged_in}}
<form id="comment-form">
  <textarea name="comment-content" id="comment-content" cols="" rows="">

  </textarea>
  <div>
{{!--  button for add comment --}}
    <button class="pageBtn border-rad" type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{>comments post.comments}}

<script src="/js/comment.js"></script>
{{!-- option to return to dash --}}