{{!-- login form --}}
  <h1>login</h1>
<form class="signup-form">
  <div>
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" placeholder="Example@email.com">
  </div>
  <div>
    <label for="password-login" >password:</label>
    <input type="password" id="password-login" placeholder="YourPassword">
  </div>
  <div>

   <button type="submit">Login</button>
  </div>
  <a href="/signup"> click here to sign up</a>
</form>