{{!-- login form --}}
  <h1 class="box-title">login</h1>
<form id="login-form" class="form-box">
  <div>
    <label for="email-login"></label>
    <input class="login-box border-rad padding-LR font-2" type="text" id="email-login" placeholder="Example@email.com">
  </div>
  <div>
    <label for="password-login" ></label>
    <input class="login-box border-rad padding-LR font-2" type="password" id="password-login" placeholder="YourPassword">
  </div>
  <div>

   <button class="pageBtn border-rad" type="submit">Login</button>
  </div>
  <a href="/signup"> click here to <span id="signup-text">Sign Up</span></a>
</form>
<script src="/js/login.js"></script>