{{!-- sign up form --}}
  <h1>Signup</h1>
<form class="signup-form">
  <div>
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" placeholder="Example@email.com">
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" placeholder="YourPassword">
  </div>
  <div>

    <button type="submit">Login</button>
  </div>
  <a href="/login"> click here to Login</a>
</form>