{{!-- sign up form --}}
<div>
  <h1>sign up</h1>
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username">
  </div>
  <div>
    <label for="password">password:</label>
    <input type="password" id="passwprd">
  </div>
  <div>

    <button id="submit">Submit</button>
  </div>
  <a href="/login"> click here to log in</a>
</div>